.burger {
  width: 45px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transition: all 0.5s ease-in-out;

  span {
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    background-color: $primary-lingh-color;
    transition: transform 0.5s ease-in-out;
    position: relative;

    &:nth-child(1).active {
      transform: rotate(44deg) translate(1px, 2px);
    }

    &:nth-child(2).active {
      display: none;
    }
    &:nth-child(3).active {
      transform: rotate(-45deg) translate(11px, -13px);
    }
  }

  @include media(xl) {
    display: none;
  }
}
