.modelRoot {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  width: 100%;
  height: 100%;
  padding: 25px;
}

.modelBody {
  background-color: rgba(84, 84, 84, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 30px;
  backdrop-filter: blur(2px);
  position: relative;
  max-width: 440px;
  .modelBodyIconClose {
    position: absolute;
    top: -29px;
    right: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    @include media(lg) {
      top: 0;
      padding: 5px;
    }
    svg {
      color: #4c4c4c;
      font-size: 25px;
    }
  }
}

.modelTitle {
  font-size: 2.1rem;
  padding-bottom: 15px;
  font-weight: 900;
  color: #fff;
}

.modelFooter {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  gap: 10px;

  ul {
    li {
      a {
        color: $primary-lingh-color;
        text-decoration: underline;
      }
    }
  }
}
