.navBar {
  position: relative;

  .NavArea {
    transition: all 0.4s ease-out;
    // background-color: $quaternary-colos;
    z-index: 2;
    width: 100%;
    margin: auto;
    position: fixed;
    left: 0;

    &.close {
      transform: translate(-100%);
      @include media(xl) {
        transform: initial;
        height: initial;
        overflow: hidden;
      }
    }

    &.open {
      transform: translate(0);
      @include media(xl) {
        transition: initial;
        height: initial;
      }
    }

    @include media(xl) {
      top: 0px;
      display: flex;
      align-items: center;
      position: relative;
      height: initial;
      backdrop-filter: none;
    }
  }
  .navFechar {
    background: transparent;
    border: none;
    position: absolute;
    right: 0;
    top: -15px;
    z-index: 9;
    padding: 20px;
    svg {
      color: rgb(255, 255, 255);
      font-size: 3.5rem;
    }
    @include media(xl) {
      display: none;
    }
  }
  ul {
    margin-block: 0;
    padding-inline-start: 0;
    left: 0;
    z-index: 999999;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    backdrop-filter: blur(6px);
    height: 100vh;

    @include media(xl) {
      height: initial;
      position: relative;
      display: flex;
      align-items: center;
      width: initial;
      background: transparent;
      border: none;
      margin-right: 30px;
      backdrop-filter: blur(0);
    }

    li:not(.redes li) {
      padding: 20px 0;
      list-style-type: none;

      &.NomeMenu {
        span {
          color: $primary-lingh-color;
          font-size: 1.8rem;
          font-weight: 700;
          text-transform: uppercase;
        }

        @include media(xl) {
          display: none;
        }
      }

      @include media(xl) {
        margin-right: 10px;
      }

      &.active a {
        background-color: rgba(255, 255, 255, 0.137);
        padding: 10px 20px;
      }

      &.comprarIngressos {
        padding: 10px 0;
        margin: 10px 0 0;
        //border: 1px solid  $primary-lingh-color;
        border-radius: 10px;

        @include media(xl) {
          margin: 0 20px 0 0;
        }

        a {
          background-color: $primary-lingh-color;
          color: $primary-dark-color;
          border-radius: 10px;
          font-weight: 700;
          margin-left: 40px;
          position: relative;
          border: 1px solid $primary-lingh-color;
          padding: 5px;

          &::before {
            content: '';
            position: absolute;
            width: 25px;
            height: 25px;
            background-image: url('/img/vetores/VectorIngresso.svg');
            background-size: contain;
            background-repeat: no-repeat;
            top: -18px;
            left: -30px;

            @include media(xl) {
              display: none;
            }
          }

          &::after {
            content: '';
            position: absolute;
            top: -1px;
            left: -40px;
            width: 100%;
            height: 100%;
            border: 1px solid $primary-lingh-color;
            border-radius: 10px;
            z-index: -1;

            @include media(xl) {
              display: none;
            }
          }
        }
      }

      a {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 1.8rem;
        color: $primary-lingh-color;
        transition: color 200ms ease;
        padding-right: 10px;
        border-radius: 50px;
        transition: all 200ms ease;

        @include media(xxl) {
          padding: 10px 30px;
        }

        @include media(xxl) {
          font-size: 2.1rem;
        }
      }
    }
  }

  ul.redes {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 20px;

    li {
      list-style-type: none;
      margin: 0 3.5px;

      img {
        width: 29px;
        height: 29px;
      }

      a {
        span {
          position: absolute;
          right: -9999px;
          visibility: hidden;
        }
      }
    }

    @include media(xl) {
      margin-top: 0;
      margin-left: 20px;
    }
  }

  .logo {
    height: 150px;

    img {
      max-width: initial;
      width: 140px;
      height: 140px;

      @include media(xl) {
        display: none;
      }
    }
  }
}
