.SobreNos {
  color: $primary-lingh-color;
  padding-top: 150px;

  img {
    display: block;
    max-width: 350px;
    margin: 0 auto;
  }

  h1 {
    font-size: 3.1rem;

    @include media(lg) {
      font-size: 3.5rem;
    }
  }

  h2 {
    font-size: 2.5rem;
    margin: 20px 0;

    @include media(lg) {
      margin-top: 45px;
      font-size: 3.5rem;
    }
  }

  .titleOutline {
    color: $primary-dark-color;
    text-shadow:
      2px 2px 0 $primary-lingh-color,
      2px -2px 0 $primary-lingh-color,
      -2px 2px 0 $primary-lingh-color,
      -2px -2px 0 $primary-lingh-color,
      2px 0px 0 $primary-lingh-color,
      0px 2px 0 $primary-lingh-color,
      -2px 0px 0 $primary-lingh-color,
      0px -2px 0 $primary-lingh-color;
    letter-spacing: 5px;
  }

  a {
    color: $primary-lingh-color;
    padding: 0 5px;
    text-decoration: underline;
  }

  p {
    font-size: 1.4rem;
    line-height: 2rem;
    margin: 20px 0;
  }

  hr {
    border-color: $primary-color-gray;
  }

  .titleLancamento {
    margin-top: 45px;

    span {
      display: block;
      font-size: 1.4rem;
      font-weight: 400;

      @include media(lg) {
        display: inline;
        margin-left: 20px;
      }
    }
  }

  .slideFilmehomePromo {
    overflow: visible;
    position: relative;

    img {
      width: 100%;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: -30px;
      z-index: 99;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        273deg,
        rgb(0, 0, 0),
        rgba(0, 0, 0, 0) 5%
      );
      pointer-events: none;
    }

    .filme {
      color: $primary-lingh-color;
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;

      h2 {
        margin: 5px 0;
        font-size: 1.4rem;
        height: 35px;
        display: flex;
        align-items: center;

        @include media(md) {
          height: 30px;
        }
      }

      span {
        font-size: 1.4rem;
        display: block;
      }

      p {
        font-size: 1rem !important;
        margin-top: 10px;
        margin-bottom: 10px !important;
      }

      .tralher {
        border: 1px solid $primary-lingh-color;
        color: $primary-lingh-color;
        font-weight: 700;
        border-radius: 5px;
        display: inline-flex;
        align-items: center;
        gap: 10px;
        padding: 3px;
        margin-top: 10px;
        cursor: pointer;

        span {
          font-size: 1.4rem;
          color: $primary-lingh-color;
        }

        svg {
          font-size: 1.8rem;
          color: #e52d27;
        }
      }
    }
  }

  .streaming {
    border: 1px solid $primary-lingh-color;
    color: $primary-lingh-color;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
  }
}
