.areaContato {
  padding-top: 120px;
  color: $primary-lingh-color;

  p {
    font-size: 1.4rem;
    line-height: 2rem;
    margin-bottom: 15px;
  }

  .gridContato {
    @include media(lg) {
      display: grid;
      gap: 90px;
      grid-template-columns: repeat(2, 1fr);
    }

    h1,
    h2 {
      font-size: 3.1rem;
      margin: 30px 0;

      span {
        font-size: 1.6rem;
        font-weight: 400;
      }

      @include media(lg) {
        font-size: 4.1rem;
      }
    }

    .areaFormContato {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(6, auto);
      grid-column-gap: 20px;
      grid-row-gap: 0px;

      .inputContato1 {
        grid-area: 1 / 1 / 2 / 6;
      }

      .inputContato2 {
        grid-area: 2 / 1 / 3 / 6;

        @include media(lg) {
          grid-area: 2 / 1 / 3 / 3;
        }
      }

      .inputContato3 {
        grid-area: 3 / 1 / 4 / 6;

        @include media(lg) {
          grid-area: 2 / 3 / 3 / 6;
        }
      }

      .inputContato4 {
        grid-area: 4 / 1 / 5 / 6;

        @include media(lg) {
          grid-area: 3 / 1 / 4 / 6;
        }
      }

      .inputContato5 {
        grid-area: 5 / 1 / 6 / 6;

        @include media(lg) {
          grid-area: 5 / 1 / 6 / 6;
        }
      }

      input[type='text'] {
        margin-top: 20px;
        @include inputNewsletter;
      }

      textarea {
        @include inputNewsletter;
        margin-top: 20px;
        height: 250px !important;
      }

      input[type='checkbox'] {
        width: 25px;
        height: 25px;
      }

      .aceite {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 1.4em;
        font-weight: 700;
      }

      label,
      .areaLabel {
        position: relative;

        small {
          position: absolute;
          left: 0;
          bottom: -15px;
          font-size: 1.1rem;
          color: #e52d27;
        }
      }
    }

    .areaFlexBtnContato {
      display: flex;
      align-items: center;
      gap: 20px;
      margin-top: 25px;

      button {
        background-color: $secondary-colors;
        border: none;
        color: $primary-lingh-color;
        padding: 10px 20px;
        border-radius: 50px;
        font-size: 1.4rem;
        text-transform: uppercase;
        font-weight: 700;
        transition: all 0.5s;
        cursor: pointer;

        &:hover {
          background-color: darken($secondary-colors, 10%);
        }
      }

      a {
        color: $primary-lingh-color;
        font-size: 1.4rem;
        text-decoration: underline;
      }
    }
  }

  iframe {
    width: 100%;
  }
}
.newsletterPopUpTermos {
  label,
  a,
  p {
    font-size: 1.4rem;
    color: $primary-lingh-color;
  }

  a {
    text-decoration: underline;
  }

  label {
    display: inline-flex;
    align-items: center;
    gap: 10px;
  }
}

.newsletterPopUpTermosFlex {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;

  p {
    font-size: 1.2rem;
  }

  a {
    text-decoration: underline;
    color: $primary-lingh-color;
  }

  input[type='checkbox'] {
    width: 25px;
    height: 25px;
  }

  position: relative;

  small {
    position: absolute;
    left: 0;
    bottom: -20px;
    font-size: 1.1rem;

    color: #e52d27;
  }

  button {
    background-color: $secondary-colors;
    border: none;
    color: $primary-lingh-color;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 1.4rem;
    text-transform: uppercase;
    position: relative;
    left: 1px;
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
      background-color: darken($secondary-colors, 10%);
    }
  }
}
